
<!-- Navigation bar starts -->
          <div class="navbar">
           <div class="navbar-inner">
             <div class="container">
             </div>
           </div>
         </div>

<!-- Navigation bar ends -->

<div class="content">
  <div class="container">

          <div class="register">
              <div class="row">
								<div class="span6">
                  <div class="formy">
                     <h5>登录</h5>
                                  <div class="form">
                                      <!-- Login form (not working)-->
                                      <form class="form-horizontal" id="loginForm">
                                          <!-- Username -->
                                          <div class="control-group">
                                            <label class="control-label" for="username">用户名</label>
                                            <div class="controls">
                                              <input type="text" class="input-large" id="username" name="username" value="fannan1">
                                            </div>
                                          </div>
                                          <!-- Password -->
                                          <div class="control-group">
                                            <label class="control-label" for="email">密码</label>
                                            <div class="controls">
                                              <input type="password" class="input-large" id="password" name="pwd" value="zhu88jie">
                                            </div>
                                          </div>                                                                             
                                          <!-- Buttons -->
                                          <div class="form-actions">
                                             <!-- Buttons -->
                                            <button type="submit" id="login" class="btn">登录</button>
                                            <button type="reset" class="btn">重置</button>
                                          </div>
                                      </form>
                                             还没有账号? <a href="mailto:me@mydomain.com?cc=me2@domain.com&subject=mysubject" target="_blank">注册2</a>
                                    </div> 
                                  </div>

                </div>
            </div>              


  <div class="border"></div>
  </div>
</div>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="span12">
          <div class="copy">
            <h6>你好 <span class="color">嗯嗯</span></h6>
            <p>版权 © <a href="./login1.html#">本站</a> - <a href="./index.html">主页</a> | <a href="./aboutus.html">关于我们</a> | <a href="./faq.html">常见问题</a> | <a href="./contactus.html">联系我们</a></p>
          </div>
      </div>
    </div>
  <div class="clearfix"></div>
  </div>
</footer> 